#tabs{
	width:100%;
    & .tabs-wrapper{
    	display:flex;
        margin-bottom: 20px;
    
        & .tab{
            flex: 1;
            border-bottom: 1px solid;
            padding: 8px 0px;
            text-align: center;
        }
        & .tab.active{
        	border: 1px solid;
            border-bottom: 0px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }
    }
}